<div class="curated-item">
  {{#if image_url}}
    <img class="teaser" {{bind-attr src="image_url"}} >
  {{/if}}

  <header class="curated-header">
    <h2 class="post-title">
      {{{topic-link this}}}
    </h2>
    <a href="{{created_by.usernameUrl}}"
       classNames="trigger-user-card {{classNames}}"
       data-user-card="{{created_by.username}}" class="author">
      {{i18n 'by'}}
      {{avatar this.created_by imageSize="small"}}
      {{created_by.username}}
    </a>
  </header>

  <div class="post-content">
    <p>
      {{{excerpt}}}
    </p>
    // <a href="{{unbound url}}">{{i18n 'read_more'}}</a>
  </div>
  <div class="post-meta">
    {{#if category}}
      <span class="category-title">
      {{i18n 'in'}}
        {{bound-category-link category showParent=false allowUncategorized=true}}
    </span><br>
    {{/if}}

    <span class="date">
      {{#if bumped}}
        {{raw-date bumped_at}}
      {{else}}
        {{raw-date created_at}}
      {{/if}}
    </span>
  </div>
</div>