<div class="post-content">
  <header class="curated-header">
    <h2 class="post-title">
      {{{topic-link this}}}
      <div class="post-meta">
        <p>
          posted by
          <a href="{{created_by.usernameUrl}}"
             classNames="trigger-user-card {{classNames}}"
             data-user-card="{{created_by.username}}" class="author">
            {{!i18n 'by'}}
            {{avatar this.created_by imageSize="small"}}
            {{created_by.username}}
          </a>
          on
            <span class="date">
              {{createdAt}}
            </span>
          {{#if category}}
            <br>
            <span class="category-title">
        {{ i18n 'in'}}
              {{bound-category-link category showParent=false allowUncategorized=true}}
    </span><br>
          {{/if}}


        </p>
      </div>
    </h2>
  </header>
  {{#if image_url}}
    <img class="teaser" {{bind-attr src="image_url"}} >
  {{/if}}

  {{{fullExcerpt}}}
    // <a href="{{unbound url}}">{{i18n 'read_more'}}</a>
</div>

